body{
	font-family: 'Open Sans', sans-serif!important;
}

header{
	background-color: #63A8C9;
	position: relative;
	padding-top: 1%;
}

nav{
	margin-top: 1%;
	background-color: #31829F;
	font-size: 18px;
}

a{
	color: white!important;
}

#miolo{
	background-color: #95A5AC;
	position: relative;
	padding-top: 4.1%;
	padding-bottom: 4.1%;
	color: black;
}

#first-a{
	margin-left: 100px;
}

#last-a{
	margin-right: 300px;
}

.nav-link{
	margin-left: 70px;
}

.under-text1{
	margin-top: 60px;
}

.under-text2{
	margin-top: 30px;
}

.search-query{
	border-radius: 15px;
	border-style: none;
	outline: none;
	width: 300px;
	height: 30px;
	margin-bottom: 8px;
}

#pe{
	background-color: #4C91B0;
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

footer{
	background-color: #4C91B0;
	width: 100%;
	position: relative;
	padding: 1.5%  1%;
	color: white;
}

#footer-text{
	padding-left: 30%;
}

#go-top{
	padding-left: 25%;
}