#corpo{
	/*background-color: #AC87FF;*/
	position: relative;

}

header{
	/*background-color: #3A97FF;*/
}

#menu{
	/*background-color: #245BE8;*/
}

footer{
	/*background-color: #3546FF;*/
	display: flex;
	flex-direction: row;
	align-items: center;
}


